name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - master  # Change this to 'main' if your default branch is named main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        # This builds your Vite/React project into the 'dist' folder
        run: npm run build
        env:
          VITE_API_URL: ${{ secrets.VITE_API_URL }}
          CI: false

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_TOLL_PROJECT_479605 }}
          channelId: live
          projectId: toll-project-479605
